::-webkit-scrollbar{
    width: 0;
}
h1.text-primary{
    font-size: 1.5em;
}
.form-control {
    outline: none!important;
    border: none!important;
}
.pagination li{
    outline: none!important;
    border: none!important;
}