@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #ff7c6e;
    background: #faecc3;
}

::-webkit-scrollbar {
    width: 0;
}
a{
    text-decoration: none;
}
body {
    background: lightblue;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

nav {
    background-color: rgb(253, 249, 243);
    padding: 1rem;
    color: rgb(139, 139, 139);
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.paths a{
    margin: 0 1em;
    color: rgb(139, 139, 139);
}
.main-body {
    padding: 2rem;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #faecc3;
    border-radius: 10px;
    overflow: hidden;
    width: auto;
    margin: 1rem;
    box-shadow: 0 0 15px grey;
    transition: 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 -2px 3.5rem rgb(63, 61, 61);
}

img {
    width: 100%;
    height: 100%;
}

.card .img {
    width: 18em;
    height: 15em;
}

.card .about {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    justify-content: space-around;
}

.card .about h4 {
    color: gray;
    font-size: 18px;
    font-weight: 400;
}

.card .about a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid grey;
    margin-top: 5px;
}
.input-div,
form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.input-div input{
    font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    padding: 3px 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0;
    width: 15em;
    letter-spacing: 1px;
}
form button {
    margin-top: 1.2em;
    font-size: 1.1em;
    background: #FDF9F3;
    outline: none;
    border: 1px solid grey;
    padding: 1px 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
}
@media only screen and (max-width: 600px){
    .paths a {
        margin: 0;
        margin-right: 10px;
    }
    nav {
        font-size: 1em;
    }
}