@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    
}
::selection {
    color: #fff;
    background: #9194ab;
}
body{
    background-color: #9194ab;
    font-family: 'Jost', sans-serif;
}
.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1{
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px
}
.todos{
    width: 23rem;
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border: 2px solid aliceblue;
}
.todos .time{
    position: relative;
    color: aliceblue;
    background: url('./bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 10px;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.todos .time span{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.todos .container{
    position: relative;
    overflow-y: scroll;
    height: 22rem;
    padding: 5px;
    background-color: rgb(163, 136, 100);
}
.container::-webkit-scrollbar{
    width: 0px;
}
.todo-item{
    background: #fff;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0 10px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.todo-item:first-child{
    margin: 0;
}
.check{
    cursor: pointer;
    font-size: 25px;
}
.delete{
    cursor: pointer;
    font-size: 25px;
    color: red;
}
.addTodo{
    border: 2px solid aliceblue;
    width: 23rem;
    padding: 3px;
    height: 3rem;
    margin-top: 10px;
}
.addTodo form{
    height: 100%;
    display: flex;
    justify-content: center;
}
.addTodo form #text-input{
    width: 100%;
    margin-right: 5px;
    outline: none;
    border: none;
    padding: 5px;
    border: 1px solid #7d87e3;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
}
.addTodo form button{
    background: #9194ab;
    cursor: pointer;
    width: 25px;
    font-size: 25px;
    color: white;
    outline: none;
    border: none;
}