
# dependencies
node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*